<h2>Change your password</h2>
<form action="http://localhost:3000/users/password" method="post">
  <input name="reset_password_token" value="<%=params[:reset_password_token]%>" type="hidden">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <%=label_tag "New password" %>
  <input type="password" name="user[password]">
  <%=label_tag "Password confirmation" %>
  <input type="password" name="user[password_confirmation]">
  <input type="submit">
</form>
<% if @error %>
    <ul class="list-unstyled">
      <li class="has-error"><%=@error%></li>
    </ul>
<% end -%>
